@font-face{

font-family: 'OpenSans';

src: url('../fonts/OpenSans/opensans-bold-webfont.eot');

src: url('../fonts/OpenSans/opensans-bold-webfont.eot?iefix') format('eot'),

url('../fonts/OpenSans/opensans-bold-webfont.woff') format('woff'),

url('../fonts/OpenSans/opensans-bold-webfont.ttf') format('truetype'),

url('../fonts/OpenSans/opensans-bold-webfont.svg#webfont') format('svg');

font-weight: 800;

font-style: normal;