html, body, div, p, h1, h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('../images/layer.png');
}
.standart-container{
	margin: 0 auto;
	width: 1170px;
}
#mastHead{
	align-items: center;
	background-image: url('../images/layerHeader.png');
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 750px;
	-ms-align-items: center;
}
.mastHeadWrapper{
	text-align: center;
	margin: 0 auto;
	width: 910px;
}
.mastHeadMainText{
	color: #ffffff;
	font: 800 65px OpenSans;
	line-height: 71px;
	margin: 0 auto;
	margin-bottom: 45px;
	text-transform: uppercase;
}
.mastHeadLittleText{
	color: #ffffff;
	font: 22px Raleway;
	line-height: 33px;
	margin-bottom: 125px;
}
.mastHeadButton{
	background-image: url('../images/headerButtonBg.png');
	border-radius: 2px;
	color: #ffffff;
	cursor: pointer;
	font: 600 13px Raleway;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	text-transform: uppercase;
	vertical-align: 21px;
	width: 200px;
}

#header{
	-ms-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	height: 100px;
	justify-content: space-between;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
#header img:first-of-type{
	height: 30px;
	margin-top: 10px;
	width: 200px;
}
#header: img:last-of-type{
	height: 5px;
}
#header ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
#header li{
	color: #ffffff;
	cursor: pointer;
	font: 800 13px Raleway;
	list-style-type: none;
	margin-left: 55px;
	margin-top: 10px;
	text-transform: uppercase;
}

#features{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 120px;
	margin-bottom:45px;
	padding-left: 45px;
	padding-right: 45px;
}
#features .feature{
	height: 200px;
	text-align: center;
	margin-bottom: 75px;
	width: 300px;
}
#features .feature img{
	margin-bottom: 35px;
}
#features .feature h2{
	color: #2d3033;
	font: 800 14px Raleway;
	margin-bottom: 25px;
	text-transform: uppercase;
}
#features .feature p{
	color: #6c7279;
	font: regular 14px Raleway;
	margin-bottom: 50px;
}


#works{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#works .img-container{
	cursor: pointer;
	height: 350px;
	margin-bottom: 1px;
	position: relative;
	width: 24.9%;
}
#works .img-container img{
	height: 100%;
	width: 100%;
}
#works .text{
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 40%;
}
#works .text p{
	color: #ffffff;
	font:normal 14px Raleway;
	margin-bottom: 15px;
}
#works .text p:first-of-type{
	font: 800 14px Raleway;
	text-transform: uppercase;
}
#footer .contacts{
	background-image: url('../images/contactsBg.png');
	height: 250px;
}
#footer .contacts-items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 100%;
	justify-content: space-around;
	margin: 0 auto;
	width: 1020px;
}
#footer .contacts-items .contacts-item{
	margin-top: 70px;
	text-align: center;
	width: 330px;
}
#footer .contacts .contacts-item p:first-of-type{
	color: #ffffff;
	font: 800 14px Raleway;
	margin-bottom: 20px;
}
#footer .contacts .contacts-item p:last-of-type{
	color: #a4a6a8;
	font: regular 14px Raleway;
	line-height: 22.5px;
}
#footer .copyright{
	background-image: url('../images/copyrightBg.png');
	height: 90px;
}
#footer .contacts-items .contacts-item .icons{
	position: relative;
}
#footer .contacts-items .contacts-item .icons img:last-of-type{
	left: 10px;
	position: absolute;
	top: -13px;
}
#footer .contacts-items .contacts-item .icons:first-of-type img:last-of-type{
	left: 16px;
	position: absolute;
	top: -15px;
}
#footer .contacts-items .contacts-item .icons:last-of-type img:last-of-type{
	left: 13px;
	position: absolute;
	top: -13px;
}
#footer .copyright{
	color: #a4a6a8;
	font: regular 14px Raleway;
	padding-top: 30px;
	text-align: center;
}
#footer .copyright span{
	color: #ffffff;
}